// colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);

$font-size: 0.9375rem; //15px
$font-size-md: 1.5rem; //24px
$font-size-lg: 1.875rem; // 30px
$font-size-xlg: 2rem; // 32px

$alata-weight: 400;
$josefin-weight: 300;

$mobile-sm: 20em;       // 320px
$mobile-md: 23.4375em;  // 375px
$mobile-lg: 26.5625em;  // 425px
$tablet-size: 48em;     // 768px
$laptop-size: 64em;     // 1024px